<section class="user-nav toolbar clearfix float-right" style="margin-top: 15px;">
    <a href="@Url.Action("manage","account")"><i class="icon-settings"></i> Manage Account</a>
    <a href="@Url.Action("index","booking")"><i class="icon-calendar"></i> Bookings</a>
    @*@Html.Action("MySalonMenu","Salon")*@
</section>