<h3 class="title"></h3>
<ul>
    <li class="img-li"></li>
        
    <li class="description" style="overflow: hidden; padding: 10px 20px; margin-bottom: 10px; background: #efefef;">
        <p>Resize item's height or width by clicking the curresponding button below</p>
        
        <p>
            <label class="checkbox">
                <input type="checkbox" checked="checked" name="keepRatio"><span>Keep ratio</span>
            </label>            
        </p>
        <div style="float: left;">
            <span>Width</span>
            <ul>
                <li style="margin-bottom: 30px; margin-top: 10px;">
                    <a href="#" class="btn btn-default btn-xs" id="plusWidth">+</a></li>
                <li>
                    <a href="#" class="btn btn-default btn-xs" id="minusWidth">-&nbsp;</a>                    
                </li>
            </ul>
        </div>
        
        <div style="float: right;">
            <span>Height</span>
            <ul>
                <li style="margin-bottom: 30px; margin-top: 10px;">
                    <a href="#" class="btn btn-default btn-xs" id="plusHeight">+</a>                    
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-xs" id="minusHeight">-&nbsp;</a>                    
                </li>
            </ul>
        </div>
        
    </li>

    <li class="controls">
        <a href="#" class="btn btn-success btn-xs save-item"><i class="icon-checkmark-2"></i> Done</a>        
        <a href="#" class="btn btn-danger btn-xs cancel">Close</a>
    </li>
</ul>