@model PagedList.StaticPagedList<string>

<ul class="sub-menu">
    <li><a href="#hairstyles" class="first">Hairstyles</a></li>
</ul>
    
<div id="hairstyles" data-url="@Url.Action("hairstyles","hair")">
    <a href="#" class="uploadFileCtrl" rel="#HairstyleImage">New Hairstyle</a>

    <div class="item-content">
        @Html.Partial("PartialHairstyles", Model)
    </div>
    
    <p class="controls-container">
        <a href="#" class="btn btn-xs btn-primary remove-hairstyle" rel="hairstyle">Remove hairstyle</a>        
        <a href="#" class="btn btn-xs btn-primary adjust-control">Adjust hair</a>
    </p>
</div>
    