@model string[]

<div>
    <a href="#" class="uploadFileCtrl" rel="#HairstyleImage">New Hairstyle</a>
    
    @Html.Partial("PartialHairstyles", Model)

    <div class="hide">
        
    </div>
</div>